<div id="sidebar" class="my-5 design">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/dashboard"><i class="fa-solid fa-house mr-3"></i>Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="/posts/create"><i class="fa-solid fa-square-plus mr-3"></i>New Post</a>
        </li>
        <li class="list-group-item">
            <a href="/posts"><i class="fa-solid fa-address-book mr-3"></i>My Posts</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/bookmarks"><i class="fa-solid fa-bookmark mr-3"></i>Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/comments"><i class="fa-solid fa-comment mr-3"></i>Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/edit-profile"><i class="fa-solid fa-user-pen mr-3"></i>Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/change-password"><i class="fa-solid fa-key mr-3"></i>Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/logout"><i class="fa-solid fa-right-from-bracket mr-3"></i>Logout</a>
        </li>
    </ul>
</div>